.dark-slate-gray {
  color: #1b3b5d; /* Dark Slate Gray */
}
.slate-gray {
  color: #647582; /* Slate Gray */
}
.gainsboro {
  color: #d8e3e8; /* Gainsboro */
}
.lavender {
  color: #e5e7eb; /* Lavender */
}
.tomato {
  color: #ed6a5e; /* Tomato */
}
.alice-blue {
  color: #f3fafb; /* Alice Blue */
}
